html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Viga', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #999;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

header {
  background-color: #333;
  padding: 5em 5em 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__links {
  color: #e1e1e1;
  z-index: 9;
}

.header__button {
  cursor: pointer;
  background: none;
  border: 0;
  color: #e1e1e1;
  text-transform: uppercase;
  font-family: 'Viga', sans-serif;
  font-size: 1.2em;
}

.hero {
  padding-top: 3em;
  display: flex;
  align-items: flex-start;
}

.hero__title {
  display: flex;
  flex-direction: column;
  flex: 2;
  color: #e1e1e1;
  font-size: 3.6em;
  text-align: left;
  justify-content: center;
  display: flex;
  transition: .8s;
}

.hero__title:hover {
  text-shadow:
  0 0 5px #aaa,
  0 0 10px #bbb;
}

.hero__section {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.hero__text {
  color: #e1e1e1;
  font-size: 1.4em;
  text-align: right;
  padding-top: 2em;
}

.hero__image {
  height: 300px;
  margin-left: auto;
}

footer {
  height: 30vh;
  padding: 0 5em 1em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.footer__hello {
  flex: 2;
  align-self: flex-end;
  color: #e1e1e1;
}

.footer__link {
  color: #333;
}

.footer__text {
  padding-top: 1em;
  font-size: 1.4em;
  flex: 2;
  text-align: right;
  color: #333;
}

.cube {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1292px) {
  .hero__title {
    font-size: 2em;
  }
  .hero__image {
    height: 180px;
  }
  .hero__text {
    font-size: 1em;
  }
  .footer__text {
    font-size: 1em;
  }
}

@media (max-width: 826px) {
  header {
    padding: 2em 2em 0;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  .hero__title {
    text-align: center;
  }
  .hero__image {
    margin: 1em auto;
  }
  .hero__text {
    text-align: center;
    padding: 2em 4em 0;
  }
  footer {
    flex-direction: column;
    
  }
  .footer__text {
    text-align: center;
  }
  .footer__hello {
    align-self: center;
    text-align: center;
  }

  .cube {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  header {
    padding: 1em;
  }
  .hero__section {
    padding-bottom: 0;
  }
  .hero__title {
    padding-top: 1em;
  }
  .hero__text {
    font-size: 1.2em;
    padding: 2em 0 0;
  }
  footer {
    padding: 0 2em;
    height: auto;
  }
  .footer__text {
    font-size: 1.2em;
    padding-top: 1em;
  }
  .footer__hello {
    padding-top: 3em;
    padding-bottom: 1em;
  }
}

#particles-js {
  position: absolute;
}